In [ ]:
import numpy as np
import pandas as pd

In [ ]:
constructor_standings = pd.read_csv("constructor_standings.csv")

Constructor Standings

In [13]:
constructor_standings.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

number of rows and columns

In [14]:
constructor_standings.shape

(13391, 7)

checking for null values

In [15]:
null_vals = constructor_standings.isnull()
constructor_standings[null_vals].count()

constructorStandingsId    0
raceId                    0
constructorId             0
points                    0
position                  0
positionText              0
wins                      0
dtype: int64

datatypes of columns

In [16]:
constructor_standings.dtypes

constructorStandingsId      int64
raceId                      int64
constructorId               int64
points                    float64
position                    int64
positionText               object
wins                        int64
dtype: object

duplicate rows

In [17]:
duplicates = constructor_standings.duplicated()
constructor_standings[duplicates].count()

constructorStandingsId    0
raceId                    0
constructorId             0
points                    0
position                  0
positionText              0
wins                      0
dtype: int64

unique values in positionText column

In [18]:
unique_cat = constructor_standings['positionText'].unique()
print(unique_cat)

['1' '3' '2' '4' '5' '6' '8' '7' '9' '10' '11' 'E' '12' '13' '14' '15'
 '18' '17' '16' '19' '20' '21' '22']

dropping positionText column

In [19]:
final_df = constructor_standings.drop(columns = ['positionText'], inplace = True)
constructor_standings.head()

   constructorStandingsId  raceId  constructorId  points  position  wins
0                       1      18              1    14.0         1     1
1                       2      18              2     8.0         3     0
2                       3      18              3     9.0         2     0
3                       4      18              4     5.0         4     0
4                       5      18              5     2.0         5     0