In [54]:
import numpy as np
import pandas as pd

In [55]:
constructor_standings = pd.read_csv("constructor_standings.csv")
constructor = pd.read_csv("constructors.csv")

Constructor Standings

In [56]:
constructor_standings.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

number of rows and columns

In [57]:
constructor_standings.shape

(13391, 7)

checking for null values

In [58]:
null_vals = constructor_standings.isnull()
constructor_standings[null_vals].count()

constructorStandingsId    0
raceId                    0
constructorId             0
points                    0
position                  0
positionText              0
wins                      0
dtype: int64

datatypes of columns

In [59]:
constructor_standings.dtypes

constructorStandingsId      int64
raceId                      int64
constructorId               int64
points                    float64
position                    int64
positionText               object
wins                        int64
dtype: object

duplicate rows

In [60]:
duplicates = constructor_standings.duplicated()
constructor_standings[duplicates].count()

constructorStandingsId    0
raceId                    0
constructorId             0
points                    0
position                  0
positionText              0
wins                      0
dtype: int64

unique values in positionText column

In [61]:
unique_cat = constructor_standings['positionText'].unique()
print(unique_cat)

['1' '3' '2' '4' '5' '6' '8' '7' '9' '10' '11' 'E' '12' '13' '14' '15'
 '18' '17' '16' '19' '20' '21' '22']

dropping positionText column

In [62]:
constructor_standings = constructor_standings.drop(columns = ['positionText'], inplace = True)
constructor_standings.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
merged_df = pd.merge(constructor_standings, constructor, on="constructorId", how ="outer")
merged_df = merged_df.drop(columns=['nationality', 'url'])

constructor_standings = merged_df 
constructor_standings

,constructorStandingsId,raceId,constructorId,points,position,wins,constructorRef_x,name_x,constructorRef_y,name_y
0,1.0,18.0,1,14.0,1.0,1.0,mclaren,McLaren,mclaren,McLaren
1,7.0,19.0,1,24.0,1.0,1.0,mclaren,McLaren,mclaren,McLaren
2,18.0,20.0,1,28.0,3.0,1.0,mclaren,McLaren,mclaren,McLaren
3,29.0,21.0,1,34.0,3.0,1.0,mclaren,McLaren,mclaren,McLaren
4,40.0,22.0,1,42.0,3.0,1.0,mclaren,McLaren,mclaren,McLaren
...,...,...,...,...,...,...,...,...,...,...
13438,28940.0,1140.0,215,36.0,7.0,0.0,rb,RB F1 Team,rb,RB F1 Team
13439,28950.0,1141.0,215,44.0,8.0,0.0,rb,RB F1 Team,rb,RB F1 Team
13440,28960.0,1142.0,215,46.0,8.0,0.0,rb,RB F1 Team,rb,RB F1 Team
13441,28970.0,1143.0,215,46.0,8.0,0.0,rb,RB F1 Team,rb,RB F1 Team
13442,28980.0,1144.0,215,46.0,8.0,0.0,rb,RB F1 Team,rb,RB F1 Team

In [ ]:
constructor_standings.to_csv("constructor_standings_cleaned.csv", index=False)

,constructorStandingsId,raceId,constructorId,points,position,wins,constructorRef,name
0,1.0,18.0,1,14.0,1.0,1.0,mclaren,McLaren
1,7.0,19.0,1,24.0,1.0,1.0,mclaren,McLaren
2,18.0,20.0,1,28.0,3.0,1.0,mclaren,McLaren
3,29.0,21.0,1,34.0,3.0,1.0,mclaren,McLaren
4,40.0,22.0,1,42.0,3.0,1.0,mclaren,McLaren
...,...,...,...,...,...,...,...,...
13438,28940.0,1140.0,215,36.0,7.0,0.0,rb,RB F1 Team
13439,28950.0,1141.0,215,44.0,8.0,0.0,rb,RB F1 Team
13440,28960.0,1142.0,215,46.0,8.0,0.0,rb,RB F1 Team
13441,28970.0,1143.0,215,46.0,8.0,0.0,rb,RB F1 Team
13442,28980.0,1144.0,215,46.0,8.0,0.0,rb,RB F1 Team